* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../Imagens_design/bgindex.png');
    margin: 0;
}

.container {
    background-color: #FFE4C4;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.foreground-image {
    width: 25%;
    height: auto;
    padding-top: 130px;
}

.login-box {
    background-color: #FFF5E4;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    z-index: 2;

}

.login-box h1 {
    font-family: Michegar;
    font-size: 30px;
    color: #ffcf72;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 1px 1px #FFA07A;
    letter-spacing: 2px;
}

.login-box label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #FF8C00;
    font-family: Opensans;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #FF8C00;
    margin-bottom: 15px;
    font-size: 16px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #FF8C00;
    border: none;
    border-radius: 15px;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-box button:hover {
    background-color: #FF7F50;
    transition-delay: 0.2s;
}


.forgot-password {
    padding-top: 15px;
    padding-bottom: -5px;
    font-size: 14px;
}


@media (max-width: 520px) {

    .foreground-image {
        width: 0px;
    }

    .login-box h1 {
        font-size: 18px;
    }

    .login-box label {
        font-size: 14px;
    }

    .login-box input[type="text"],
    .login-box input[type="password"] {
        font-size: 14px;
        padding: 6px;
    }

    .login-box button {
        font-size: 14px;
        padding: 6px;
    }

    .forgot-password {
        font-size: 12px;
    }
}

@font-face {
    font-family: Michegar;
    src: url('../fontes/Michegar.ttf');
}

@font-face {
    font-family: opensans;
    src: url('../fontes/OpenSans.ttf');
}